.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.solution-letter {
    text-transform: uppercase;
    height: 100px;
    width: 100px;
    font-size: xx-large;
}